<app-page-title [title]="'explorer.account' | translate"></app-page-title>
<ng-container *ngIf="{ hash: accountHash | async } as acc">
  <ng-container *ngIf="acc.hash">
    <div class="grid grid-cols-1 sm:grid-cols-6 gap-4 text-sm">
      <ng-container *ngIf="{ info: accountInfo | async } as account">
        <div class="weown-card__white sm:col-span-4">
          <div>{{ 'explorer.accountHash' | translate }}:</div>
          <div class="font-bold truncate">
            {{ account?.info?.hash }}
          </div>
        </div>
        <div class="weown-card__white sm:col-span-2">
          <div>{{ 'explorer.transfers' | translate }}:</div>
          <div class="font-bold truncate">
            {{ account?.info?.transfersCount }}
          </div>
        </div>
        <div class="weown-card__white sm:col-span-4">
          <div>{{ 'explorer.controllerAddress' | translate }}:</div>
          <div class="font-bold truncate">
            <a class="text-secondary" [routerLink]="['/address', account?.info?.controllerAddress]">
              {{ account?.info?.controllerAddress }}
            </a>
          </div>
        </div>
        <div class="weown-card__white sm:col-span-2">
          <div>{{ 'explorer.numberOfAssets' | translate }}:</div>
          <div class="font-bold truncate">
            {{ account?.info?.assetsCount }}
          </div>
        </div>
        <div class="sm:col-span-6">
          <app-table-card
            [title]="'explorer.transfers' | translate"
            [tableHeight]="tableHeight"
            [columns]="transferColumns"
            [source]="transfers | async"
            [loading]="transfersLoading | async"
            [canLoadMore]="transfersCanLoad | async"
            (loadMore)="onLoadMore(acc.hash, 'transfers')"
          >
          </app-table-card>
        </div>
        <div class="sm:col-span-6">
          <app-table-card
            [title]="'explorer.holdings' | translate"
            [tableHeight]="tableHeight"
            [columns]="holdingColumns"
            [source]="holdings | async"
            [loading]="holdingsLoading | async"
            [canLoadMore]="holdingsCanLoad | async"
            (loadMore)="onLoadMore(acc.hash, 'holdings')"
          >
          </app-table-card>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #header let-column="column" let-sort="sortFn" let-reorder="reorderFn">
  <span class="datatable-header-cell-wrapper font-bold" (click)="sort()">
    {{ column.name | translate }}
  </span>
</ng-template>

<ng-template #tx let-row="row" let-value="value">
  <a [routerLink]="['/tx', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #account let-row="row" let-value="value">
  <a [routerLink]="['/account', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #asset let-row="row" let-value="value">
  <a [routerLink]="['/asset', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #assetCode let-row="row" let-value="value">
  {{ value ? value : '-' }}
</ng-template>
