<div *ngIf="blockInfo | async as block">
  <!-- TITLE -->
  <div class="row justify-content-md-center pb-2">
    <div class="col-sm-12 col-md-10 ml-3">
      <app-page-title title="Block"></app-page-title>
    </div>
  </div>

  <!-- LOADER -->
  <app-loader [isLoading]="loadingBlockInfo | async"></app-loader>

  <div [hidden]="loadingBlockInfo | async" class="detail-info">
    <div class="row justify-content-md-center mt-4">
      <div class="col-sm-12 col-md-10">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6 col-sm-5 col-lg-5 col-xl-4">
                    <p class="info-label">Block number</p>
                  </div>
                  <div class="col-6 col-sm-7 col-lg-7 col-xl-8 text-right">
                    <p class="info-orange">{{ block.blockNumber }}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-2">
                    <p class="info-label">Hash</p>
                  </div>
                  <div class="col-10 text-right no-padding">
                    <p class="info-value">{{ block.hash }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6">
            <div class="card no-shadow">
              <div class="card-body">
                <div class="row">
                  <div class="col-9 col-md-8 col-xl-6">
                    <p class="info-label">Previous block number</p>
                  </div>
                  <div class="col-3 col-md-4 col-xl-6 text-right">
                    <p class="info-bold">
                      <a class="text-secondary" [routerLink]="['/block', block.previousBlockNumber]">{{
                        block.previousBlockNumber
                      }}</a>
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-2 info-label">
                    <p>Hash</p>
                  </div>
                  <div class="col-10 text-right no-padding">
                    <p class="info-value">{{ block.previousBlockHash }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5">
            <div class="row details-row-item">
              <div class="col-2 col-md-2">
                <p class="info-label">Time created</p>
              </div>

              <div class="col-10 col-md-4 border-right">
                <p class="info-value" *ngIf="block.timestamp">
                  {{ block.timestamp | displayTimestamp }}
                  ({{ block.timestamp + 'Z' | timeago: true }})
                </p>
              </div>

              <div class="col-2 col-md-2">
                <p class="info-label">Proposer</p>
              </div>
              <div class="col-10 col-md-4">
                <p class="info-value" *ngIf="block.timestamp">{{ block.validatorAddress }}</p>
              </div>
            </div>
          </div>

          <!-- ADDITIONAL INFORMATION -->
          <div class="col-12 mt-3">
            <div class="card-header transparent">
              <span class="additional-label">Additional info</span>
              <div class="float-right">
                <i
                  [ngClass]="additionalInfoExpanded ? 'fa-angle-up' : 'fa-angle-down'"
                  class="fas icon-pointer"
                  (click)="expandAdditionalInfo()"
                ></i>
              </div>
            </div>
            <div class="card-body" *ngIf="additionalInfoExpanded">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr *ngIf="block.txSetRoot">
                      <td class="label"><strong>TX set root</strong></td>
                      <td class="value">{{ block.txSetRoot }}</td>
                    </tr>
                    <tr *ngIf="block.txResultSetRoot">
                      <td class="label"><strong>TX result root</strong></td>
                      <td class="value">{{ block.txResultSetRoot }}</td>
                    </tr>
                    <tr *ngIf="block.equivocationProofsRoot">
                      <td class="label"><strong>Equivocation proofs root</strong></td>
                      <td class="value">{{ block.equivocationProofsRoot }}</td>
                    </tr>
                    <tr *ngIf="block.equivocationProofResultsRoot">
                      <td class="label"><strong>Equivocation proof result root</strong></td>
                      <td class="value">{{ block.equivocationProofResultsRoot }}</td>
                    </tr>
                    <tr *ngIf="block.stateRoot">
                      <td class="label"><strong>State root</strong></td>
                      <td class="value">{{ block.stateRoot }}</td>
                    </tr>
                    <tr *ngIf="block.stakingRewardsRoot">
                      <td class="label"><strong>Staking rewards root</strong></td>
                      <td class="value">{{ block.stakingRewardsRoot }}</td>
                    </tr>
                    <tr *ngIf="block.configurationRoot">
                      <td class="label"><strong>Configuration root</strong></td>
                      <td class="value">{{ block.configurationRoot }}</td>
                    </tr>
                    <tr *ngIf="block.configurationBlockNumber">
                      <td class="label"><strong>Configuration block number</strong></td>
                      <td class="value">
                        <a [routerLink]="['/block', block.configurationBlockNumber]">{{
                          block.configurationBlockNumber
                        }}</a>
                      </td>
                    </tr>
                    <tr *ngIf="block.consensusRound">
                      <td class="label"><strong>Consensus round</strong></td>
                      <td class="value">{{ block.consensusRound }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <app-table-card
        title="Transactions"
        [tableHeight]="tableHeight"
        [columns]="transactionColumns"
        [loading]="loadingTransactions | async"
        [source]="transactions | async"
        (loadMore)="onLoadMoreTransactions($event)"
      >
      </app-table-card>
    </div>
  </div>

  <div class="row mt-5" *ngIf="(equivocations | async).length > 0">
    <div class="col-12">
      <app-table-card
        title="Equivocation proofs"
        [tableHeight]="tableHeight"
        [columns]="equivocationColumns"
        [expandable]="true"
        [defaultExpand]="false"
        [loading]="loadingEquivocations | async"
        [source]="equivocations | async"
        (loadMore)="onLoadMoreEquivocations($event)"
      >
      </app-table-card>
    </div>
  </div>

  <div class="row mt-5" *ngIf="(stakingRewards | async).length > 0">
    <div class="col-12">
      <app-table-card
        title="Staking rewards"
        [tableHeight]="tableHeight"
        [columns]="stakingRewardColumns"
        [expandable]="true"
        [defaultExpand]="false"
        [loading]="loadingStakingRewards | async"
        [source]="stakingRewards | async"
        (loadMore)="onLoadMoreStakingRewards($event)"
        [canLoadMore]="canLoadMoreStakingRewards | async"
      >
      </app-table-card>
    </div>
  </div>
</div>

<ng-template #txHash let-row="row" let-value="value">
  <a [routerLink]="['/tx', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #txAddress let-row="row" let-value="value">
  <a [routerLink]="['/address', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #txEquivocation let-row="row" let-value="value">
  <a [routerLink]="['/equivocation', value]" [title]="value">{{ value }}</a>
</ng-template>
