<div *ngIf="blockInfo | async as block">
  <app-page-title title="Block"></app-page-title>
  <app-loader [isLoading]="loadingBlockInfo | async"></app-loader>

  <div *ngIf="!(loadingBlockInfo | async)" class="grid grid-cols-1 sm:grid-cols-6 gap-4 text-sm">
    <div class="weown-card__brand sm:col-span-4">
      <div>Block hash:</div>
      <div class="font-bold truncate">{{ block.hash }}</div>
    </div>
    <div class="weown-card__accent sm:col-span-2">
      <div>Block number:</div>
      <div class="font-bold truncate">{{ block.blockNumber }}</div>
    </div>
    <div class="weown-card__white sm:col-span-4">
      <div>Previous block hash:</div>
      <div class="font-bold truncate">{{ block.previousBlockHash }}</div>
    </div>
    <div class="weown-card__white sm:col-span-2">
      <div>Previous block number:</div>
      <div class="font-bold truncate">
        <a class="text-secondary" [routerLink]="['/block', block.previousBlockNumber]">
          {{ block.previousBlockNumber }}
        </a>
      </div>
    </div>
    <div class="weown-card__white sm:col-span-4">
      <div>Proposer address:</div>
      <div class="font-bold truncate">
        <a class="text-secondary" [routerLink]="['/address', block.validatorAddress]">
          {{ block.validatorAddress }}
        </a>
      </div>
    </div>
    <div class="weown-card__white sm:col-span-2">
      <div>Time created:</div>
      <div class="font-bold truncate">
        {{ block.timestamp | displayTimestamp }}
        ({{ block.timestamp + 'Z' | timeago: true }})
      </div>
    </div>
    <div class="text-xl font-bold my-6 sm:col-span-6">
      Additional info
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.txSetRoot">
      <div>TX set root:</div>
      <div class="font-bold truncate">
        {{ block.txSetRoot }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.txResultSetRoot">
      <div>TX result root:</div>
      <div class="font-bold truncate">
        {{ block.txResultSetRoot }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.equivocationProofsRoot">
      <div>Equivocation proofs root:</div>
      <div class="font-bold truncate">
        {{ block.equivocationProofsRoot }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.equivocationProofResultsRoot">
      <div>Equivocation proof result root:</div>
      <div class="font-bold truncate">
        {{ block.equivocationProofResultsRoot }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.stateRoot">
      <div>State root:</div>
      <div class="font-bold truncate">
        {{ block.stateRoot }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.stakingRewardsRoot">
      <div>Staking rewards root:</div>
      <div class="font-bold truncate">
        {{ block.stakingRewardsRoot }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.configurationRoot">
      <div>Configuration root:</div>
      <div class="font-bold truncate">
        {{ block.configurationRoot }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.configurationBlockNumber">
      <div>Configuration block number:</div>
      <div class="font-bold truncate">
        <a [routerLink]="['/block', block.configurationBlockNumber]">{{ block.configurationBlockNumber }}</a>
      </div>
    </div>
    <div class="weown-card__white sm:col-span-3" *ngIf="block.consensusRound">
      <div>Consensus round:</div>
      <div class="font-bold truncate">
        {{ block.consensusRound }}
      </div>
    </div>

    <ng-container *ngIf="{ loading: loadingTransactions | async, tx: transactions | async } as txData">
      <div class="sm:col-span-6" *ngIf="!txData.loading && txData.tx.length > 0">
        <app-table-card
          title="Transactions"
          [tableHeight]="tableHeight"
          [columns]="transactionColumns"
          [loading]="txData.loading"
          [source]="txData.tx"
          (loadMore)="onLoadMoreTransactions($event)"
        >
        </app-table-card>
      </div>
    </ng-container>

    <ng-container *ngIf="{ loading: loadingEquivocations | async, eq: equivocations | async } as eqData">
      <div class="sm:col-span-6" *ngIf="!eqData.loading && eqData.eq.length > 0">
        <app-table-card
          title="Equivocation proofs"
          [tableHeight]="tableHeight"
          [columns]="equivocationColumns"
          [expandable]="true"
          [defaultExpand]="false"
          [loading]="eqData.loading"
          [source]="eqData.eq"
          (loadMore)="onLoadMoreEquivocations($event)"
        >
        </app-table-card>
      </div>
    </ng-container>

    <ng-container *ngIf="{ loading: loadingStakingRewards | async, st: stakingRewards | async } as stData">
      <div class="sm:col-span-6" *ngIf="!stData.loading && stData.st.length > 0">
        <app-table-card
          title="Staking rewards"
          [tableHeight]="tableHeight"
          [columns]="stakingRewardColumns"
          [expandable]="true"
          [defaultExpand]="false"
          [loading]="stData.loading"
          [source]="stData.st"
          (loadMore)="onLoadMoreStakingRewards($event)"
          [canLoadMore]="canLoadMoreStakingRewards | async"
        >
        </app-table-card>
      </div>
    </ng-container>

    <ng-container *ngIf="block.configuration">
      <div class="text-xl font-bold my-6 sm:col-span-6">
        Configuration
      </div>
      <div class="weown-card__white sm:col-span-3">
        <div>Configuration block delta:</div>
        <div class="font-bold truncate">
          {{ block.configuration.configurationBlockDelta }}
        </div>
      </div>
      <div class="weown-card__white sm:col-span-3">
        <div>Max transactions per block:</div>
        <div class="font-bold truncate">
          {{ block.configuration.maxTxCountPerBlock }}
        </div>
      </div>
      <div class="weown-card__white sm:col-span-3">
        <div>Validator deposit lock time:</div>
        <div class="font-bold truncate">
          {{ block.configuration.validatorDepositLockTime }}
        </div>
      </div>
      <div class="weown-card__white sm:col-span-3">
        <div>Blacklist time:</div>
        <div class="font-bold truncate">
          {{ block.configuration.validatorBlacklistTime }}
        </div>
      </div>

      <div class="sm:col-span-6" *ngIf="block.configuration.validatorsBlacklist.length > 0">
        <app-table-card
          title="Validators Blacklist"
          [tableHeight]="tableHeight"
          [columns]="validatorBlacklistColumns"
          [loading]="loadingBlockInfo | async"
          [source]="formatValidatorsBlacklist(block.configuration.validatorsBlacklist)"
        >
        </app-table-card>
      </div>

      <div class="sm:col-span-6" *ngIf="block.configuration.validators.length > 0">
        <div class="col-12">
          <app-table-card
            title="Validators"
            [tableHeight]="tableHeight"
            [columns]="validatorColumns"
            [loading]="loadingBlockInfo | async"
            [source]="block.configuration.validators"
          >
          </app-table-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #txHash let-row="row" let-value="value">
  <a [routerLink]="['/tx', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #txAddress let-row="row" let-value="value">
  <a [routerLink]="['/address', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #txEquivocation let-row="row" let-value="value">
  <a [routerLink]="['/equivocation', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #rewardPerc let-row="row" let-value="value">
  <div class="progress" style="height: 15px; margin-right: 25px;">
    <div
      class="progress-bar"
      role="progressbar"
      [ngStyle]="{ width: value + '%' }"
      [attr.aria-valuenow]="value"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ value }}%
    </div>
  </div>
</ng-template>
