<div *ngIf="transactionInfo | async as transaction">
  <app-page-title title="Transaction"></app-page-title>
  <app-loader [isLoading]="loadingTransactionInfo | async"></app-loader>

  <div
    [hidden]="loadingTransactionInfo | async"
    class="detail-info"
    class="grid grid-cols-1 sm:grid-cols-6 gap-4 text-sm"
  >
    <div
      class="sm:col-span-4 relative"
      [ngClass]="{
        'weown-card__success': transaction.status === 'Success',
        'weown-card__accent': transaction.status === 'Pending',
        'weown-card__fail': transaction.status === 'Failure'
      }"
    >
      <div class="absolute -right-6 -top-6 opacity-50">
        <img class="w-28 h-28" *ngIf="transaction.status === 'Success'" src="/assets/images/success-icon.svg" />
        <img class="w-28 h-28" *ngIf="transaction.status === 'Pending'" src="/assets/images/pending-icon.svg" />
        <img class="w-28 h-28" *ngIf="transaction.status === 'Failure'" src="/assets/images/failed-icon.svg" />
      </div>
      <div>Transaction Hash:</div>
      <div class="font-bold truncate">{{ transaction.hash }}</div>
    </div>

    <div class="weown-card__accent sm:col-span-2">
      <div>Block number:</div>
      <div class="font-bold truncate">
        <a class="text-secondary" [routerLink]="['/block', transaction.blockNumber]">
          {{ transaction.blockNumber }}
        </a>
      </div>
    </div>

    <div class="weown-card__white sm:col-span-4">
      <div>From:</div>
      <div class="font-bold truncate">
        <a class="text-secondary" [routerLink]="['/address', transaction.senderAddress]">
          {{ transaction.senderAddress }}
        </a>
      </div>
    </div>

    <div class="weown-card__white sm:col-span-2">
      <div>Nonce:</div>
      <div class="font-bold truncate">
        {{ transaction.nonce }}
      </div>
    </div>

    <div class="weown-card__white sm:col-span-2">
      <div>Action fee:</div>
      <div class="font-bold truncate">{{ transaction.actionFee }} CHX</div>
    </div>

    <div class="weown-card__white sm:col-span-2">
      <div>Total fee:</div>
      <div class="font-bold truncate">{{ totalFee(transaction.actionFee, transaction.numberOfActions) }} CHX</div>
    </div>

    <div class="weown-card__white sm:col-span-2">
      <div>Actions:</div>
      <div class="font-bold truncate">{{ transaction.numberOfActions }}</div>
    </div>

    <div class="weown-card__white sm:col-span-3">
      <div>Expiration time:</div>
      <div class="font-bold truncate">
        {{ transaction.expirationTime ? (transaction.expirationTime | displayTimestamp) : '-' }}
      </div>
    </div>

    <div class="weown-card__white sm:col-span-3">
      <div>Timestamp:</div>
      <div class="font-bold truncate" *ngIf="transaction.timestamp">
        {{ transaction.timestamp | displayTimestamp }} ({{ transaction.timestamp + 'Z' | timeago: true }})
      </div>
    </div>

    <ng-container *ngIf="transaction.status === 'Failure'">
      <div class="text-xl font-bold my-6 sm:col-span-6">
        Errors
      </div>
      <div
        class="weown-card__fail"
        [ngClass]="{
          'sm:col-span-4': transaction.failedActionNumber,
          'sm:col-span-6': !transaction.failedActionNumber
        }"
      >
        <div>Error message:</div>
        <div class="font-bold">
          {{ transaction.errorMessage | camelCaseToSpace | titlecase }}
        </div>
      </div>
      <div class="sm:col-span-2 weown-card__fail" *ngIf="transaction.failedActionNumber">
        <div>Failed action number:</div>
        <div class="font-bold">
          {{ transaction.failedActionNumber }}
        </div>
      </div>
    </ng-container>

    <div class="text-xl font-bold my-6 sm:col-span-6">
      Actions
    </div>

    <div class="sm:col-span-6 weown-card__white" *ngFor="let action of transactionActions | async; let i = index">
      <div class="col-12 mb-4">
        <b>{{ i + 1 }}. {{ action.actionType | camelCaseToSpace }}</b>
      </div>
      <div class="col-12">
        <div class="row details-row-item mb-1 mb-md-0" *ngIf="action.actionType === 'CreateAsset'">
          <div class="col-12 col-md-3">
            <span class="ml-3">Asset</span>
          </div>
          <div class="col-12 col-md-9 ml-3 ml-md-0 font-bold" *ngIf="transaction.senderAddress">
            <a [routerLink]="['/asset', deriveHash(transaction.senderAddress, transaction.nonce, i + 1)]">
              {{ deriveHash(transaction.senderAddress, transaction.nonce, i + 1) }}
            </a>
          </div>
        </div>
        <div class="row details-row-item mb-1 mb-md-0" *ngIf="action.actionType === 'CreateAccount'">
          <div class="col-12 col-md-3">
            <span class="ml-3">Account</span>
          </div>
          <div class="col-12 col-md-9 ml-3 ml-md-0 font-bold" *ngIf="transaction.senderAddress">
            <a [routerLink]="['/account', deriveHash(transaction.senderAddress, transaction.nonce, i + 1)]">
              {{ deriveHash(transaction.senderAddress, transaction.nonce, i + 1) }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <div class="row details-row-item mb-1 mb-md-0" *ngFor="let item of parseActions(action.actionData) | keyvalue">
          <div class="col-12 col-md-3">
            <span class="ml-3">{{ item.key | camelCaseToSpace | titlecase }}</span>
          </div>
          <div class="col-12 col-md-9 ml-3 ml-md-0 elipsis">
            <span *ngIf="item.key === 'networkAddress'">
              {{ item.value }}
            </span>
            <a
              *ngIf="
                item.key === 'providerAddress' || item.key === 'recipientAddress' || item.key === 'validatorAddress'
              "
              routerLink="/address/{{ item.value }}"
            >
              {{ item.value }}
            </a>
            <span *ngIf="!item.key.includes('Address')" class="font-bold">
              {{ item.value }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
