<div *ngIf="transactionInfo | async as transaction">
  <!-- TITLE -->
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-10 ml-3">
      <app-page-title title="Transaction"></app-page-title>
    </div>
  </div>

  <!-- LOADER -->
  <app-loader [isLoading]="loadingTransactionInfo | async"></app-loader>

  <div [hidden]="loadingTransactionInfo | async" class="detail-info">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10">
        <div class="row">
          <div class="col-12 col-lg-8">
            <p class="title-card ml-3">&nbsp;</p>
            <div class="transaction-status">
              <img *ngIf="transaction.status === 'Success'" src="assets/images/success-text.svg" />
              <img *ngIf="transaction.status === 'Pending'" src="assets/images/pending-text.svg" />
              <img *ngIf="transaction.status === 'Failure'" src="assets/images/failed-text.svg" />
            </div>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-5 col-md-3">
                    <p class="info-label">Transaction Hash</p>
                  </div>
                  <div class="col-7 col-md-9 text-right">
                    <p class="info-value">{{ transaction.hash }}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6 col-md-4">
                    <p class="info-label">Block number</p>
                  </div>
                  <div class="col-6 col-md-8 text-right">
                    <p class="info-value">
                      <a class="text-secondary" [routerLink]="['/block', transaction.blockNumber]">{{
                        transaction.blockNumber
                      }}</a>
                    </p>
                  </div>
                </div>

                <div *ngIf="transaction.status === 'Failure'">
                  <div class="row mt-3">
                    <div class="col-6 col-md-4">
                      <p class="info-label">Error message</p>
                    </div>
                    <div class="col-6 col-md-8 text-right">
                      <p class="info-value">{{ transaction.errorMessage | camelCaseToSpace | titlecase }}</p>
                    </div>
                  </div>
                  <div class="row mt-3" *ngIf="transaction.failedActionNumber">
                    <div class="col-6 col-md-4">
                      <p class="info-label">Failed action number</p>
                    </div>
                    <div class="col-6 col-md-8 text-right">
                      <p class="info-value">{{ transaction.failedActionNumber }}</p>
                    </div>
                  </div>
                </div>

                <div class="row mt-3" *ngIf="transaction.status === 'Fa'">
                  <div class="col-6 col-md-4">
                    <p class="info-label">Block number</p>
                  </div>
                  <div class="col-6 col-md-8 text-right">
                    <p class="info-value">
                      <a class="text-secondary" [routerLink]="['/block', transaction.blockNumber]">{{
                        transaction.blockNumber
                      }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4 from-card-section">
            <h6>&nbsp;</h6>
            <div class="card-transparent">
              <div class="card-body">
                <div class="row">
                  <div class="col-4 col-md-3">
                    <div class="from-image"></div>
                  </div>
                  <div class="col-8 col-md-9">
                    <p class="info-label">From</p>
                    <div class="clip-text">
                      <a class="text-secondary" [routerLink]="['/address', transaction.senderAddress]">{{
                        transaction.senderAddress
                      }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Nonce</p>
                  </div>
                  <div class="col-6 border-right">
                    <p class="info-value">{{ transaction.nonce }}</p>
                  </div>
                </div>

                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Expiration time</p>
                  </div>
                  <div class="col-6 border-right">
                    <p class="info-value" *ngIf="transaction.expirationTime">
                      {{ transaction.expirationTime | displayTimestamp }}
                    </p>
                    <p class="info-value" *ngIf="!transaction.expirationTime">
                      -
                    </p>
                  </div>
                </div>

                <div class="row details-row-item">
                  <div class="col-4">
                    <p class="info-label">Timestamp</p>
                  </div>
                  <div class="col-8 border-right">
                    <p class="info-value" *ngIf="transaction.timestamp">
                      {{ transaction.timestamp | displayTimestamp }}
                      ({{ transaction.timestamp + 'Z' | timeago: true }})
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Actions</p>
                  </div>
                  <div class="col-6">
                    <p class="info-value">{{ transaction.numberOfActions }}</p>
                  </div>
                </div>

                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Action fee</p>
                  </div>
                  <div class="col-6">
                    <p class="info-value">{{ transaction.actionFee }} CHX</p>
                  </div>
                </div>

                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Total fee</p>
                  </div>
                  <div class="col-6">
                    <p class="info-value">{{ transaction.actionFee * transaction.numberOfActions }} CHX</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ACTIONS INFORMATION -->
          <div class="col-12 mt-3">
            <div class="card-header transparent">
              <span class="additional-label">Actions</span>
              <div class="float-right">
                <i
                  [ngClass]="actionsExpanded ? 'fa-angle-up' : 'fa-angle-down'"
                  class="fas icon-pointer"
                  (click)="expandActions()"
                ></i>
              </div>
            </div>
            <div class="card-body" *ngIf="actionsExpanded">
              <!-- LOADER -->
              <app-loader [isLoading]="loadingTransactionActions | async"></app-loader>

              <div id="actions-lit" class="row" [hidden]="loadingTransactionActions | async">
                <div class="col-12 head">
                  <div class="row">
                    <div class="col-8 col-md-9 offset-4 offset-md-2">
                      <b>Type</b>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div
                    class="row detail-info mt-3"
                    *ngFor="let action of transactionActions | async; let i = index"
                    [attr.data-custom_index]="i"
                    appScrollEnd
                    (endReached)="onLoadMoreTransactionActions($event)"
                  >
                    <div class="col-2 col-md-1">
                      <div class="float-left">
                        <i
                          [ngClass]="
                            expandedTransactionActions && expandedTransactionActions.custom_index === i
                              ? 'fa-angle-up'
                              : 'fa-angle-right'
                          "
                          class="fas icon-pointer"
                          (click)="expandActionData(action, i)"
                        ></i>
                      </div>
                    </div>

                    <div class="col-2 col-md-1">
                      <p class="info-value">{{ action.actionNumber }}</p>
                    </div>

                    <div class="col-8 col-md-9">
                      <p class="info-value" (click)="expandActionData(action, i)">{{ action.actionType }}</p>
                    </div>

                    <div
                      class="col-12"
                      *ngIf="expandedTransactionActions && expandedTransactionActions.custom_index === i"
                    >
                      <div *ngFor="let item of expandedTransactionActions | keyvalue">
                        <div
                          class="row details-row-item"
                          *ngIf="!(item.key === 'custom_index' || item.key === 'isEmpty')"
                        >
                          <div class="col-12 col-md-4">
                            <p class="info-label">{{ item.key | camelCaseToSpace | titlecase }}</p>
                          </div>
                          <div class="col-12 col-md-8">
                            <p class="info-value">{{ item.value }}</p>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="expandedTransactionActions.isEmpty">
                        <div class="row details-row-item">
                          <div class="col-8">
                            <p class="info-value">No action data</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
