.details-row-item {
  padding: 1em;
  font-size: 11px;
  .border-right {
    border-right: 1px solid #d6d6d6;
  }
}

.transparent {
  background-color: transparent;
}

.card-header {
  border-bottom: 2px solid #d6d6d6;
  i {
    color: #fa591f;
    font-size: 22px;
  }
}

.table {
  tbody {
    tr:first-child {
      td {
        border-top: none;
      }
    }

    .label {
      max-width: 200px;
      width: 40%;
    }
  }
}
