<nav>
  <ul>
    <li>
      <a routerLink="/addresses" routerLinkActive="active">
        Addresses
      </a>
    </li>
    <li>
      <a routerLink="/accounts" routerLinkActive="active">
        Accounts
      </a>
    </li>
    <li>
      <a routerLink="/assets" routerLinkActive="active">
        Assets
      </a>
    </li>
    <li>
      <a routerLink="/blocks" routerLinkActive="active">
        Blocks
      </a>
    </li>
    <li>
      <a routerLink="/transactions" routerLinkActive="active">
        Transactions
      </a>
    </li>
    <li>
      <a routerLink="/validators" routerLinkActive="active">
        Validators
      </a>
    </li>
  </ul>
</nav>
