<nav>
  <ul>
    <li>
      <a routerLink="/addresses" routerLinkActive="active">
        {{ 'explorer.addresses' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/accounts" routerLinkActive="active">
        {{ 'explorer.accounts' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/assets" routerLinkActive="active">
        {{ 'explorer.assets' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/blocks" routerLinkActive="active">
        {{ 'explorer.blocks' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/transactions" routerLinkActive="active">
        {{ 'explorer.transactions' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/validators" routerLinkActive="active">
        {{ 'explorer.validators' | translate }}
      </a>
    </li>
  </ul>
</nav>
