<div class="fixed top-5 right-20 sm:hidden">
  <a role="button" class="text-brand hover:text-accent" (click)="isOpen = !isOpen">
    <menu-icon></menu-icon>
  </a>
</div>

<nav
  class="bg-white dark:bg-neutral-800"
  [ngClass]="{
    'translate-x-0': isOpen,
    'translate-x-full sm:translate-x-0': !isOpen
  }"
>
  <ul>
    <li>
      <a class="text-neutral-800 dark:text-neutral-300" routerLink="/addresses" routerLinkActive="active">
        {{ 'explorer.addresses' | translate }}
      </a>
    </li>
    <li>
      <a class="text-neutral-800 dark:text-neutral-300" routerLink="/accounts" routerLinkActive="active">
        {{ 'explorer.accounts' | translate }}
      </a>
    </li>
    <li>
      <a class="text-neutral-800 dark:text-neutral-300" routerLink="/assets" routerLinkActive="active">
        {{ 'explorer.assets' | translate }}
      </a>
    </li>
    <li>
      <a class="text-neutral-800 dark:text-neutral-300" routerLink="/blocks" routerLinkActive="active">
        {{ 'explorer.blocks' | translate }}
      </a>
    </li>
    <li>
      <a class="text-neutral-800 dark:text-neutral-300" routerLink="/transactions" routerLinkActive="active">
        {{ 'explorer.transactions' | translate }}
      </a>
    </li>
    <li>
      <a class="text-neutral-800 dark:text-neutral-300" routerLink="/validators" routerLinkActive="active">
        {{ 'explorer.validators' | translate }}
      </a>
    </li>
    <li class="order-first sm:order-last mb-12 sm:mb-0 sm:ml-12">
      <app-search-input></app-search-input>
    </li>
  </ul>
</nav>
