.last-block {
  min-height: 150px;
}

.transactions-by-day {
  height: calc(100% - 23px);
  max-height: 105px;

  .card-body {
    padding-top: 0;
  }
}

.chart {
  width: 100%;
  height: 150px;
  @apply text-black dark:text-neutral-800;
}
