<div class="grid sm:grid-cols-12 gap-6 text-sm">
  <div class="sm:col-span-2 order-1">
    <h6 class="font-bold">{{ 'explorer.lastBlock' | translate }}</h6>
  </div>
  <div class="sm:col-span-10 order-3 sm:order-2">
    <h6 class="font-bold">{{ 'explorer.transactionsByDay' | translate }}</h6>
  </div>
  <div class="sm:col-span-2 order-2 sm:order-3">
    <div class="card h-full flex justify-center items-center">
      <h5 class="text-brand font-bold text-lg">{{ lastBlock }}</h5>
    </div>
  </div>
  <div class="sm:col-span-10 order-4">
    <div class="card pb-2">
      <div class="flex items-end">
        <div class="chart">
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="chartData"
            [gradient]="gradient"
            [showGridLines]="false"
            [xAxis]="true"
            [yAxis]="false"
          >
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:col-span-5 order-5">
    <app-blocks></app-blocks>
  </div>
  <div class="sm:col-span-7 order-6">
    <app-transactions></app-transactions>
  </div>
</div>
