<div class="container">
  <div class="row">
    <div class="col col-sm-4 col-md-3 col-lg-2">
      <h6 class="text-center">Last block</h6>
      <div class="card">
        <div class="card-body p-5">
          <h5 class="last-block-number card-title text-center mb-0">{{ lastBlock }}</h5>
        </div>
      </div>
    </div>
    <div class="col col-sm-8 col-md-9 col-lg-10">
      <span>Transactions by day:</span>
      <div class="card">
        <div class="card-body">
          <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [showGridLines]="false"
            [xAxis]="true"
          >
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col col-sm-12 col-md-5">
      <app-blocks></app-blocks>
    </div>

    <div class="col col-sm-12 col-md-7 mt-5 mt-md-0">
      <app-transactions></app-transactions>
    </div>
  </div>
</div>
