<div class="row">
  <div class="col-12">
    <app-table-card
      title="Addresses"
      [tableHeight]="tableHeight"
      [columns]="columns"
      [source]="addresses | async"
      [loading]="isLoading | async"
      (loadMore)="onLoadMore($event)"
      [canLoadMore]="canLoad | async"
      [stakes]="'Total <strong>' + (addressCount | async) + '</strong> addresses.'"
    >
    </app-table-card>
  </div>
</div>

<ng-template #addKey let-row="row" let-value="value">
  <a [routerLink]="['/address', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #addValue let-row="row" let-value="value">
  {{ value }}
</ng-template>
