<div class="row">
  <div class="col-12">
    <app-table-card
      title="Blocks"
      [tableHeight]="tableHeight"
      [loading]="isLoading | async"
      [columns]="columns"
      [source]="blocks | async"
      (loadMore)="onLoadMore($event)"
    ></app-table-card>
  </div>
</div>
<ng-template #linkBlock let-row="row" let-value="value">
  <a [routerLink]="['/block', value]">{{ value }}</a>
</ng-template>
<ng-template #passedTime let-row="row" let-value="value">
  <span [attr.title]="value | date">{{ value + 'Z' | timeago: live }}</span>
</ng-template>
