<div *ngIf="equivocation$ | async as equivocation">
  <!-- TITLE -->
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-10 ml-3">
      <app-page-title title="Equivocation"></app-page-title>
    </div>
  </div>

  <!-- LOADER -->
  <app-loader [isLoading]="loading$ | async"></app-loader>

  <div [hidden]="loading$ | async" class="detail-info">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10">
        <div class="row">
          <div class="col-12 col-lg-8">
            <p class="title-card ml-3">&nbsp;</p>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-5 col-md-3">
                    <p class="info-label">Equivocation Proof Hash</p>
                  </div>
                  <div class="col-7 col-md-9 text-right">
                    <p class="info-value">{{ equivocation.equivocationProofHash }}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6 col-md-4">
                    <p class="info-label">In Block number</p>
                  </div>
                  <div class="col-6 col-md-8 text-right">
                    <p class="info-value" *ngIf="equivocation.includedInBlockNumber">
                      {{ equivocation.includedInBlockNumber }}
                    </p>
                    <p class="info-value" *ngIf="!equivocation.includedInBlockNumber">
                      -
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 from-card-section">
            <h6>&nbsp;</h6>
            <div class="card-transparent">
              <div class="card-body">
                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Block Number</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="info-value" *ngIf="equivocation.blockNumber">
                      <a class="text-secondary" [routerLink]="['/block', equivocation.blockNumber]">
                        {{ equivocation.blockNumber }}
                      </a>
                    </p>
                    <p class="info-value" *ngIf="!equivocation.blockNumber">
                      -
                    </p>
                  </div>
                </div>

                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Round</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="info-value" *ngIf="equivocation.consensusRound">{{ equivocation.consensusRound }}</p>
                    <p class="info-value" *ngIf="!equivocation.consensusRound">
                      -
                    </p>
                  </div>
                </div>
                <div class="row details-row-item">
                  <div class="col-6">
                    <p class="info-label">Step</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="info-value" *ngIf="equivocation.consensusStep">{{ equivocation.consensusStep }}</p>
                    <p class="info-value" *ngIf="!equivocation.consensusStep">
                      -
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 mt-5">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row details-row-item">
                <div class="col-3">
                  <p class="info-label">Value 1</p>
                </div>
                <div class="col-9 border-right">
                  <p class="info-value" *ngIf="equivocation.equivocationValue1">
                    {{ equivocation.equivocationValue1 }}
                  </p>
                  <p class="info-value" *ngIf="!equivocation.equivocationValue1">
                    -
                  </p>
                </div>
              </div>

              <div class="row details-row-item">
                <div class="col-3">
                  <p class="info-label">Value 2</p>
                </div>
                <div class="col-9 border-right">
                  <p class="info-value" *ngIf="equivocation.equivocationValue2">
                    {{ equivocation.equivocationValue2 }}
                  </p>
                  <p class="info-value" *ngIf="!equivocation.equivocationValue2">
                    -
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="row details-row-item">
                <div class="col-3">
                  <p class="info-label">Signature 1</p>
                </div>
                <div class="col-9">
                  <p class="info-value" *ngIf="equivocation.signature1">
                    {{ equivocation.signature1 }}
                  </p>
                  <p class="info-value" *ngIf="!equivocation.signature1">
                    -
                  </p>
                </div>
              </div>

              <div class="row details-row-item">
                <div class="col-3">
                  <p class="info-label">Signature 2</p>
                </div>
                <div class="col-9">
                  <p class="info-value" *ngIf="equivocation.signature2">
                    {{ equivocation.signature2 }}
                  </p>
                  <p class="info-value" *ngIf="!equivocation.signature2">
                    -
                  </p>
                </div>
              </div>
            </div>

            <!-- Taken deposit -->
            <div class="col-12 mt-5">
              <div class="card-header transparent">
                <span class="additional-label">Taken Deposit</span>
              </div>
              <div class="card-body">
                <div id="actions-lit" class="row">
                  <div class="col-12 head">
                    <div class="row">
                      <div class="col-6">
                        <b>Address</b>
                      </div>

                      <div class="col-6 text-right">
                        <b>Amount</b>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="row detail-info mt-3">
                      <div class="col-6">
                        <a
                          *ngIf="equivocation.takenDeposit.blockchainAddress"
                          [routerLink]="['/address', equivocation.takenDeposit.blockchainAddress]"
                        >
                          {{ equivocation.takenDeposit.blockchainAddress }}
                        </a>
                        <p *ngIf="!equivocation.takenDeposit.blockchainAddress">-</p>
                      </div>

                      <div class="col-6 text-right">
                        <p class="info-value">{{ equivocation.takenDeposit.amount }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <app-table-card
              title="Given Deposits"
              [columns]="columns"
              [source]="equivocation.givenDeposits"
              [loading]="loading$ | async"
            >
            </app-table-card>
          </div>
        </div>

        <ng-template #addKey let-row="row" let-value="value">
          <a [routerLink]="['/address', value]" [title]="value">
            {{ value }}
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
