<div class="table-card">
  <div [class.card]="!isTransparent" [class.card-transparent]="isTransparent">
    <div class="card-header">
      <div class="row">
        <div [ngClass]="{ 'col-6 col-lg-8': expandable || filterable, 'col-12': !(expandable || filterable) }">
          <h4 class="float-left">{{ title }}</h4>
          <h4 *ngIf="stakes" class="float-right">{{ stakes }}</h4>
        </div>
        <div [ngClass]="{ 'col-6 col-lg-4': expandable || filterable }">
          <div class="float-right" *ngIf="expandable">
            <i [ngClass]="expanded ? 'fa-angle-up' : 'fa-angle-down'" class="fas icon-pointer" (click)="expand()"></i>
          </div>
          <!-- TODO Need to find better way for filters handler -->
          <div *ngIf="filterable" class="filters-wrapper float-right">
            <div class="custom-control custom-switch float-right">
              <span class="mr-5">PAST</span>
              <input
                type="checkbox"
                class="custom-control-input"
                [attr.id]="title"
                (change)="onFilter(activeFilter !== 'current' ? 'current' : 'past')"
                [checked]="activeFilter === 'current'"
              />
              <label class="custom-control-label uppercase" [attr.for]="title">current</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="expanded">
      <ngx-datatable
        class="table-card"
        [ngStyle]="{ height: tableHeight }"
        [rows]="source"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="source && source.length > 0 ? headerHeight : 0"
        [rowHeight]="rowHeight"
        [loadingIndicator]="loading"
        [footerHeight]="false"
        [scrollbarV]="true"
        (scroll)="onScroll($event.offsetY)"
      >
      </ngx-datatable>
    </div>
  </div>
</div>
