<div class="weown-card__white">
  <div>
    <div class="card-header" [ngClass]="{ 'flex justify-between items-center': !stakes }">
      <div>
        <div class="flex items-center justify-between w-full">
          <div>
            <h4 *ngIf="title && !info" [innerHTML]="title"></h4>
            <p *ngIf="info && !title" [innerHTML]="info"></p>
            <p></p>
          </div>

          <div class="text-sm text-right font-normal">
            <p *ngIf="stakes" [innerHTML]="stakes"></p>
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <label
          *ngIf="filterable"
          class="relative cursor-pointer flex justify-between items-center group p-2 text-sm mr-4"
          [attr.for]="title"
        >
          PAST
          <input
            type="checkbox"
            [attr.id]="title"
            [checked]="activeFilter === 'current'"
            (change)="onFilter(activeFilter !== 'current' ? 'current' : 'past')"
            class="absolute left-1/2 -translate-x-1/2 w-full h-full peer appearance-none bg-transparent checked:bg-transparent border-none text-transparent checked:hover:bg-transparent focus:ring-0 focus:outline-none rounded-md checked:bg-none"
          />
          <span
            class="w-12 h-6 flex items-center flex-shrink-0 ml-4 p-1 bg-gray-300 rounded-full duration-300 ease-in-out peer-checked:bg-accent after:w-4 after:h-4 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-6 group-hover:after:translate-x-1"
          ></span>
          <span class="ml-4">CURRENT</span>
        </label>

        <div *ngIf="expandable">
          <svg
            *ngIf="expanded"
            class="icon-pointer"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            (click)="expand()"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 15l7-7 7 7"></path>
          </svg>

          <svg
            *ngIf="!expanded"
            class="icon-pointer"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            (click)="expand()"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="expanded">
      <ngx-datatable
        #ngxDatatable
        [ngStyle]="{ height: tableHeight }"
        [rows]="source"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="source?.length > 0 ? headerHeight : 0"
        [rowHeight]="rowHeight"
        [loadingIndicator]="loading"
        [footerHeight]="false"
        [scrollbarV]="true"
        (scroll)="onScroll($event.offsetY)"
        [rowClass]="rowClass"
      >
      </ngx-datatable>
    </div>
  </div>
</div>
