<div class="weown-card__white">
  <div>
    <div class="card-header" [ngClass]="{ 'flex justify-between items-center': !stakes }">
      <div>
        <div class="flex items-center justify-between w-full">
          <div>
            <h4 *ngIf="title && !info" [innerHTML]="title"></h4>
            <p *ngIf="info && !title" [innerHTML]="info"></p>
            <p></p>
          </div>

          <div class="text-sm text-right font-normal">
            <p *ngIf="stakes" [innerHTML]="stakes"></p>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="expandable">
          <svg
            *ngIf="expanded"
            class="icon-pointer"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            (click)="expand()"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 15l7-7 7 7"></path>
          </svg>

          <svg
            *ngIf="!expanded"
            class="icon-pointer"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            (click)="expand()"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
        <!-- TODO Need to find better way for filters handler -->
        <div *ngIf="filterable" class="filters-wrapper float-right">
          <div class="custom-control custom-switch float-right">
            <span class="mr-5">PAST</span>
            <input
              type="checkbox"
              class="custom-control-input"
              [attr.id]="title"
              (change)="onFilter(activeFilter !== 'current' ? 'current' : 'past')"
              [checked]="activeFilter === 'current'"
            />
            <label class="custom-control-label uppercase" [attr.for]="title">current</label>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="expanded">
      <ngx-datatable
        #ngxDatatable
        [ngStyle]="{ height: tableHeight }"
        [rows]="source"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="source?.length > 0 ? headerHeight : 0"
        [rowHeight]="rowHeight"
        [loadingIndicator]="loading"
        [footerHeight]="false"
        [scrollbarV]="true"
        (scroll)="onScroll($event.offsetY)"
        [rowClass]="rowClass"
      >
      </ngx-datatable>
    </div>
  </div>
</div>
