<app-dropdown #dropdown>
  <div
    walletDropdownTrigger
    class="pl-6 pr-2 py-1 rounded-xl border hover:border-brand hover:text-brand flex items-center justify-between"
  >
    <div class="mr-2">Data for {{ selected }}</div>
    <div
      class="transform transition-transform duration-150"
      [ngClass]="{ 'rotate-180': dropdown.isOpen, 'rotate-0': !dropdown.isOpen }"
    >
      <chevron-down-icon></chevron-down-icon>
    </div>
  </div>
  <div walletDropdownItem *ngFor="let value of values">
    <a class="menu-item" *ngIf="value.text !== selected" (click)="valueIsChanged(value, dropdown)">
      {{ value.text }}
    </a>
  </div>
</app-dropdown>
