<div class="dropdown" [class.show]="open">
  <button
    (click)="togglePopup()"
    class="btn btn-light dropdown-toggle"
    type="button"
    id="dropdownMenu2"
    data-toggle="dropdown"
    aria-haspopup="true"
    [attr.aria-expanded]="open"
  >
    Data for {{ selected }}
  </button>
  <div [class.show]="open" class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <ng-container *ngFor="let value of values">
      <a class="dropdown-item" [class.active]="value.text === selected" (click)="valueIsChanged(value)">
        {{ value.text }}
      </a>
    </ng-container>
  </div>
</div>
