<div class="row">
  <div class="col-12">
    <app-table-card
      title="Transactions"
      [tableHeight]="tableHeight"
      [columns]="columns"
      [loading]="isLoading | async"
      [source]="transactions | async"
      (loadMore)="onLoadMore($event)"
    ></app-table-card>

    <ng-template #txBadge let-row="row" let-value="value">
      <img *ngIf="value === 'Success'" src="assets/images/success-icon.svg" />
      <img *ngIf="value === 'Pending'" src="assets/images/pending-icon.svg" />
      <img *ngIf="value === 'Failure'" src="assets/images/failed-icon.svg" />
    </ng-template>

    <ng-template #txHash let-row="row" let-value="value">
      <a [routerLink]="['/tx', value]">{{ value }}</a>
    </ng-template>

    <ng-template #txBlock let-row="row" let-value="value">
      <a [routerLink]="['/block', value]">{{ value }}</a>
    </ng-template>

    <ng-template #txAddress let-row="row" let-value="value">
      <a [routerLink]="['/address', value]">{{ value }}</a>
    </ng-template>
  </div>
</div>
