<div class="row">
  <div class="col-12">
    <app-table-card
      title="Transactions"
      [tableHeight]="tableHeight"
      [columns]="columns"
      [loading]="isLoading | async"
      [source]="transactions | async"
      (loadMore)="onLoadMore($event)"
    ></app-table-card>

    <ng-template #txBadge let-row="row" let-value="value">
      <span class="badge badge-pill" [ngClass]="value >= 3 ? 'badge-success' : 'badge-danger'"
        ><i class="fas fa-check"></i
      ></span>
    </ng-template>

    <ng-template #txHash let-row="row" let-value="value">
      <a [routerLink]="['/transaction-info', value]">{{ value }}</a>
    </ng-template>

    <ng-template #txBlock let-row="row" let-value="value">
      <a [routerLink]="['/block', value]">{{ value }}</a>
    </ng-template>

    <ng-template #txAddress let-row="row" let-value="value">
      <a [routerLink]="['/address-info', value]">{{ value }}</a>
    </ng-template>
  </div>
</div>
