<div [ngClass]="class" class="card">
  <div class="card-header">
    <h3>{{ title }}</h3>
    <i class="fas fa-angle-down float-right" *ngIf="!expanded && expandable" (click)="expand()"></i>
    <i class="fas fa-angle-up float-right" *ngIf="expanded && expandable" (click)="expand()"></i>

    <!-- TODO Need to find better way for filters handler -->
    <div *ngIf="filterable" class="filters-wrapper float-right">
      <div class="custom-control custom-switch float-right">
        <input type="checkbox" class="custom-control-input" id="previous" />
        <label class="custom-control-label uppercase" for="previous">previous</label>
      </div>
      <div class="custom-control custom-switch float-right">
        <input type="checkbox" class="custom-control-input" id="current" />
        <label class="custom-control-label uppercase" for="current">current</label>
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="expanded">
    <ngx-datatable
      [ngStyle]="{ height: tableHeight }"
      class="table-card"
      [rows]="source"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="headerHeight"
      [rowHeight]="rowHeight"
      [loadingIndicator]="loading"
      [scrollbarV]="true"
      (scroll)="onScroll($event.offsetY)"
    ></ngx-datatable>
  </div>
</div>
