<ng-container *ngIf="addressInfo | async as address">
  <app-page-title [title]="'explorer.address' | translate"></app-page-title>

  <!-- LOADER -->
  <app-loader [isLoading]="loadingAddressInfo | async"></app-loader>

  <div [hidden]="loadingAddressInfo | async" class="grid grid-cols-1 sm:grid-cols-6 gap-4 text-sm">
    <div class="weown-card__white sm:col-span-4">
      <div>{{ 'explorer.address' | translate }}:</div>
      <div class="font-bold truncate">
        {{ address.blockchainAddress }}
      </div>
    </div>
    <div class="weown-card__white sm:col-span-2">
      <div>{{ 'explorer.nonce' | translate }}:</div>
      <div class="font-bold truncate">
        {{ address.nonce }}
      </div>
    </div>
    <div class="weown-card__brand sm:col-span-3">
      <div>{{ 'explorer.totalBalance' | translate }}:</div>
      <div class="font-bold truncate text-lg">{{ address.chxBalanceInfo?.totalBalance }} CHX</div>
    </div>
    <div class="weown-card__brand sm:col-span-3">
      <div>{{ 'explorer.availableBalance' | translate }}:</div>
      <div class="font-bold truncate text-lg">{{ address.chxBalanceInfo?.availableBalance }} CHX</div>
    </div>
    <div class="weown-card__accent sm:col-span-3">
      <div>{{ 'explorer.deposited' | translate }}:</div>
      <div class="font-bold truncate text-lg">{{ address.chxBalanceInfo?.validatorDeposit }} CHX</div>
    </div>
    <div class="weown-card__accent sm:col-span-3">
      <div>{{ 'explorer.staked' | translate }}:</div>
      <div class="font-bold truncate text-lg">{{ address.chxBalanceInfo?.delegatedStakes }} CHX</div>
    </div>
    <div class="sm:col-span-6">
      <div class="relative">
        <div class="flex absolute item-center top-3 right-6">
          <a class="btn btn-light btn-export" [href]="getExportEventsUrl(address.blockchainAddress)"> Export </a>
          <app-filter-selector (onFilterChange)="filterEvents($event)"> </app-filter-selector>
        </div>
        <app-table-card
          [title]="('explorer.eventsTotal' | translate) + (eventsCount | async) + ')'"
          [tableHeight]="tableHeight"
          [columns]="eventColumns"
          [loading]="loadingEvents | async"
          [source]="events | async"
          (loadMore)="onLoadMoreEvents($event)"
        ></app-table-card>
      </div>
    </div>
    <div class="sm:col-span-6">
      <app-table-card
        [title]="'explorer.accounts' | translate"
        [tableHeight]="tableHeight"
        [columns]="accountColumns"
        [loading]="loadingAccounts | async"
        [source]="accounts | async"
        [expandable]="true"
        [defaultExpand]="true"
        (loadMore)="onLoadMoreAddressAccounts($event)"
        filterable="true"
        (filter)="onAddressAccountsFilter($event)"
      ></app-table-card>
    </div>
    <div class="sm:col-span-6">
      <app-table-card
        [title]="'explorer.assets' | translate"
        [tableHeight]="tableHeight"
        [columns]="assetColumns"
        [loading]="loadingAssets | async"
        [source]="assets | async"
        [expandable]="true"
        [defaultExpand]="true"
        (loadMore)="onLoadMoreAddressAssets($event)"
        filterable="true"
        (filter)="onAddressAssetsFilter($event)"
      ></app-table-card>
    </div>
    <div class="sm:col-span-6 grid sm:grid-cols-2 gap-4 place-content-stretch">
      <app-table-card
        [title]="'explorer.stakesDelegatedByAddress' | translate"
        [tableHeight]="tableHeight"
        [columns]="delegatedStakeColumns"
        [loading]="loadingDelegatedStakes | async"
        [source]="delegatedStakes | async"
        (loadMore)="onLoadMoreAddressDelegatedStakes($event)"
        [stakes]="delegatedStakesTotal | async"
      ></app-table-card>
      <app-table-card
        [title]="'explorer.stakesDelegatedToThisAddress' | translate"
        [tableHeight]="tableHeight"
        [columns]="receivedStakeColumns"
        [loading]="loadingReceivedStakes | async"
        [source]="receivedStakes | async"
        (loadMore)="onLoadMoreAddressReceivedStakes($event)"
        [stakes]="receivedStakesTotal | async"
      ></app-table-card>
    </div>
  </div>
</ng-container>

<ng-template #header let-column="column" let-sort="sortFn" let-reorder="reorderFn">
  <span class="datatable-header-cell-wrapper font-bold" (click)="sort()">
    {{ column.name | translate }}
  </span>
</ng-template>

<ng-template #blockLink let-row="row" let-value="value">
  <a [routerLink]="['/block', value]">{{ value }}</a>
</ng-template>

<ng-template #addLink let-row="row" let-value="value">
  <a [routerLink]="['/address', value]">{{ value }}</a>
</ng-template>

<ng-template #account let-row="row" let-value="value">
  <a [routerLink]="['/account', value]">{{ value }}</a>
</ng-template>

<ng-template #asset let-row="row" let-value="value">
  <a [routerLink]="['/asset', value]">{{ value }}</a>
</ng-template>

<ng-template #txLink let-row="row" let-value="value">
  <span *ngIf="value.equivocationHash">
    <a [routerLink]="['/equivocation', value.equivocationHash]">
      {{ value.equivocationHash }}
    </a>
    {{ ' equivocation' }}
  </span>

  <a *ngIf="value.transactionHash" [routerLink]="['/tx', value.transactionHash]">
    {{ value.transactionHash }}
  </a>
</ng-template>

<ng-template #eventDate let-row="row" let-value="value">
  {{ value | date: 'yyyy-MM-dd HH:mm:ss' }}
</ng-template>

<ng-template #eventAmount let-row="row" let-value="value">
  {{ value === 0 ? '' : value }}
</ng-template>
