.info-bold {
  color: #414549;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-bold-orange {
  color: #eb6723;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-value-orange {
  color: #eb6723;
}

#evfilter {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 250px;
  z-index: 2;
}

.btn-export {
  @apply px-6 py-1 mr-2 text-black rounded-xl border hover:border-brand hover:text-brand flex items-center justify-between no-underline font-normal;
}
