@import "src/theme/theme-variables";

header {
  background-color: white;
  .search-on-mobile {
    padding-bottom: 1em;
  }
}

.navbar {
  background-color: white;
  margin-bottom: 0;
  .nav-item {
    color: #373737;
    padding-bottom: 20px;
    margin: 0.2em 1em -16px 0;
  }
  .nav-item.nav-link.active {
    border-bottom: 3px solid #eb6723;
    font-weight: 700;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.input-group {
  border: 1px solid #eb6723;
  border-radius: 0.3em;
  margin: 0.2em 0;

  input {
    border: none;
    box-shadow: none;
  }

  input:active {
    outline: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  input:focus {
    border: 2px solid #eb6723 !important;
  }

  button {
    border: none;

    i {
      font-size: 18px;
    }
  }

  .btn-outline-secondary:focus {
    box-shadow: none;
    background-color: white;

    i {
      color: #868e96;
    }
  }
}

.white-background {
  background: white;
}

@media screen and (max-width: 1000px) {
  .navbar {
    .nav-item {
      padding-bottom: 5px;
      margin: 0.2em 1em 0.2em 0;
    }
    .nav-item.nav-link.active {
      border: none;
    }
    .toggler {
      width: 100%;
      text-align: right;
    }
    .border-right {
      border-right: none !important;
    }
  }
}
