<app-validators-map></app-validators-map>

<div class="row mt-5">
  <div class="col-12">
    <app-table-card
      title="Validators"
      [tableHeight]="tableHeight"
      [columns]="columns"
      [source]="validators | async"
      [loading]="isLoading | async"
      [stakes]="info"
    >
    </app-table-card>

    <p class="mt-4">* data for last 7 days</p>
  </div>
</div>

<ng-template #addKey let-row="row" let-value="value">
  <a [routerLink]="['/address', value]" [title]="value">{{ value }}</a>
</ng-template>

<ng-template #addValue let-row="row" let-value="value">
  <a [title]="value">{{ value }}</a>
</ng-template>
