<div class="grid sm:col-span-12 gap-6 text-sm">
  <div class="sm:col-span-12">
    <app-validators-map></app-validators-map>
  </div>
  <div class="weown-card__white sm:col-span-3">
    <div>{{ 'explorer.validators' | translate }}:</div>
    <app-loader [isLoading]="!totalValidators"></app-loader>
    <div class="font-bold text-lg truncate" *ngIf="totalValidators">
      {{ totalValidators }}
    </div>
  </div>
  <div class="weown-card__white sm:col-span-3">
    <div>{{ 'explorer.activeValidators' | translate }}:</div>
    <app-loader [isLoading]="!activeValidators"></app-loader>
    <div class="font-bold text-lg truncate" *ngIf="activeValidators">
      {{ activeValidators }}
    </div>
  </div>
  <div class="weown-card__white sm:col-span-3">
    <div>{{ 'explorer.staked' | translate }}:</div>
    <app-loader [isLoading]="!totalStakes"></app-loader>
    <div class="font-bold text-lg truncate" *ngIf="totalStakes">{{ totalStakes }} CHX</div>
  </div>
  <div class="weown-card__white sm:col-span-3">
    <div>{{ 'explorer.deposited' | translate }}:</div>
    <app-loader [isLoading]="!totalDeposits"></app-loader>
    <div class="font-bold text-lg truncate" *ngIf="totalDeposits">{{ totalDeposits }} CHX</div>
  </div>

  <div class="sm:col-span-12 relative">
    <div class="filter">
      <app-validator-time-filter (valueChanged)="filterValidators($event)"> </app-validator-time-filter>
    </div>

    <app-table-card
      [info]="'explorer.validators' | translate"
      [tableHeight]="'auto'"
      [headerHeight]="40"
      [rowHeight]="80"
      [columns]="columns"
      [source]="validators | async"
      [loading]="isLoading | async"
      [showAll]="true"
      [rowClass]="getRowClass"
    >
    </app-table-card>
  </div>
</div>

<ng-template #header let-column="column" let-sort="sortFn" let-reorder="reorderFn">
  <span class="datatable-header-cell-wrapper font-bold" (click)="sort()">
    {{ column.name | translate }}
  </span>
</ng-template>

<ng-template #txStatus let-row="row" let-value="value">
  <img *ngIf="value === true" src="assets/images/success-icon.svg" />
  <img *ngIf="value === false" src="assets/images/failed-icon.svg" />
</ng-template>

<ng-template #addKey let-row="row" let-value="value">
  <a [routerLink]="['/address', value.blockchainAddress]" [title]="value">{{ value.blockchainAddress }}</a>
  <br />
  <span>{{ value.networkAddress }}</span>
</ng-template>

<ng-template #addValue let-row="row" let-value="value">
  <a [title]="value">{{ value }}</a>
</ng-template>

<ng-template #rewardPerc let-row="row" let-value="value"> {{ value }}% </ng-template>
