<app-validators-map></app-validators-map>
<div class="row mt-5">
  <div class="col col-12 col-sm-3 mb-5 sm-mb-0">
    <h6 class="text-center">Validators</h6>
    <div class="card h-100">
      <div class="card-body last-block">
        <div class="row justify-content-center align-items-center h-100 last-block-number">
          <app-loader [isLoading]="!totalValidators"></app-loader>
          <h5 class="last-block-number card-title text-center" *ngIf="totalValidators">{{ totalValidators }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12 col-sm-3 mb-5 sm-mb-0">
    <h6 class="text-center">Active validators</h6>
    <div class="card h-100">
      <div class="card-body last-block">
        <div class="row justify-content-center align-items-center h-100 last-block-number">
          <app-loader [isLoading]="!activeValidators"></app-loader>
          <h5 class="last-block-number card-title text-center" *ngIf="activeValidators">{{ activeValidators }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12 col-sm-3 mb-5 sm-mb-0">
    <h6 class="text-center">At stake</h6>
    <div class="card h-100">
      <div class="card-body last-block">
        <div class="row justify-content-center align-items-center h-100 last-block-number">
          <app-loader [isLoading]="!totalStakes"></app-loader>
          <h5 class="last-block-number card-title text-center" *ngIf="totalStakes">{{ totalStakes }} CHX</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-12 col-sm-3 mb-5 sm-mb-0">
    <h6 class="text-center">Locked in deposits</h6>
    <div class="card h-100">
      <div class="card-body last-block">
        <div class="row justify-content-center align-items-center h-100 last-block-number">
          <app-loader [isLoading]="!totalDeposits"></app-loader>
          <h5 class="last-block-number card-title text-center" *ngIf="totalDeposits">{{ totalDeposits }} CHX</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="filter">
      <app-validator-time-filter (valueChanged)="filterValidators($event)"> </app-validator-time-filter>
    </div>

    <app-table-card
      [info]="info"
      [tableHeight]="'900px'"
      [headerHeight]="40"
      [rowHeight]="80"
      [columns]="columns"
      [source]="validators | async"
      [loading]="isLoading | async"
      [showAll]="true"
      [rowClass]="getRowClass"
    >
    </app-table-card>
  </div>
</div>

<ng-template #txStatus let-row="row" let-value="value">
  <img *ngIf="value === true" src="assets/images/success-icon.svg" />
  <img *ngIf="value === false" src="assets/images/failed-icon.svg" />
</ng-template>

<ng-template #addKey let-row="row" let-value="value">
  <a [routerLink]="['/address', value.blockchainAddress]" [title]="value">{{ value.blockchainAddress }}</a>
  <br />
  <span>{{ value.networkAddress }}</span>
</ng-template>

<ng-template #addValue let-row="row" let-value="value">
  <a [title]="value">{{ value }}</a>
</ng-template>

<ng-template #rewardPerc let-row="row" let-value="value">
  <div class="progress" style="height: 15px;">
    <div
      class="progress-bar"
      role="progressbar"
      [ngStyle]="{ width: value + '%' }"
      [attr.aria-valuenow]="value"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ value }}%
    </div>
  </div>
</ng-template>
