<div
  class="toolbar h-16 fixed top-0 left-0 right-0 bg-white dark:bg-neutral-800 flex justify-between print:justify-center items-center shadow text-sm print:shadow-none"
>
  <a routerLink="/" class="text-neutral-800 dark:text-neutral-400">
    <app-logo></app-logo>
  </a>
  <div class="flex print:hidden">
    <app-navbar></app-navbar>
    <div class="ml-2 my-1 border-l border-gray-300 dark:border-neutral-600"></div>
    <div class="-my-2 mr-2">
      <app-dropdown #dropdown>
        <div walletDropdownTrigger class="p-4 pr-2 text-brand hover:text-accent">
          <cog-icon></cog-icon>
        </div>
        <div walletDropdownItem class="border-b dark:border-neutral-600">
          <div class="text-gray-400 px-4 py-2">{{ 'explorer.selectLanguage' | translate }}</div>
          <ul>
            <li>
              <button
                role="button"
                class="menu-item"
                [class.selected]="selectedLanguage === 'en'"
                (click)="selectLanguage('en')"
              >
                <gb-icon></gb-icon> {{ 'explorer.english' | translate }}
              </button>
            </li>
            <li>
              <button
                role="button"
                class="menu-item"
                [class.selected]="selectedLanguage === 'de'"
                (click)="selectLanguage('de')"
              >
                <de-icon></de-icon> {{ 'explorer.german' | translate }}
              </button>
            </li>
          </ul>
        </div>
        <div walletDropdownItem>
          <div class="menu-item" *ngIf="theme === 'light'" (click)="setTheme('dark')">
            <moon-icon></moon-icon> {{ 'explorer.darkMode' | translate }}
          </div>
          <div class="menu-item" *ngIf="theme === 'dark'" (click)="setTheme('light')">
            <sun-icon></sun-icon> {{ 'explorer.lightMode' | translate }}
          </div>
        </div>
      </app-dropdown>
    </div>
  </div>
</div>
