<app-dropdown #dropdown>
  <div
    walletDropdownTrigger
    class="pl-6 pr-2 py-1 rounded-xl border hover:border-brand hover:text-brand flex items-center justify-between"
  >
    <div class="mr-2">Filter</div>
    <div
      class="transform transition-transform duration-150"
      [ngClass]="{ 'rotate-180': dropdown.isOpen, 'rotate-0': !dropdown.isOpen }"
    >
      <chevron-down-icon></chevron-down-icon>
    </div>
  </div>
  <label walletDropdownItem *ngFor="let option of options" [for]="option" class="menu-item select-auto">
    <input
      [id]="option"
      type="checkbox"
      [value]="option"
      [name]="option"
      class="focus:ring-accent checked:bg-accent checked:focus:bg-accent hover:bg-white checked:hover:bg-accent rounded"
      (change)="onChangeFilter($event, option)"
    />
    {{ option | camelCaseToSpace }}
  </label>
</app-dropdown>
