<!-- TODO Set hardcoded values to translation file -->
<div class="container-fluid" *ngIf="transactionInfo | async as transaction">
  <!-- TITLE -->
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-8">
      <app-page-title title="Transaction info"></app-page-title>
    </div>
  </div>
  <app-loader [isLoading]="isLoading"></app-loader>
  <!-- BASIC INFORMATION SECTION -->
  <div class="row justify-content-md-center" [hidden]="isLoading">
    <div class="col-sm-12 col-md-4">
      <div class="transaction-status">
        <div class="transaction-status-text text-uppercase">
          {{ transaction.status }}
          <i class="fas fa-check"></i>
        </div>
      </div>
      <app-labeled-card title="Basic information" [config]="basicInformationConfig"></app-labeled-card>
    </div>
    <div class="col-sm-12 col-md-4 from-card-section">
      <h6></h6>
      <div class="card transparent">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4 col-md-3">
              <div class="from-image"></div>
            </div>
            <div class="col-sm-8 col-md-9">
              <div class="row"><strong>From</strong></div>
              <div class="row">
                <div class="clip-text">{{ transaction.senderAddress }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TRANSACTION DETAILS -->
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <div class="row details-row-item">
            <div class="col-sm-6 col-md-6"><strong>Expiration time</strong></div>
            <div class="col-sm-6 col-md-6 border-right">{{ transaction.expirationTime }}</div>
          </div>
          <div class="row details-row-item">
            <div class="col-sm-6 col-md-6"><strong>Nonce</strong></div>
            <div class="col-sm-6 col-md-6 border-right">{{ transaction.nonce }}</div>
          </div>
          <div class="row details-row-item">
            <div class="col-sm-6 col-md-6"><strong>Total fee</strong></div>
            <div class="col-sm-6 col-md-6 border-right">{{ transaction.actionFee }} CHX</div>
          </div>
        </div>
        <div class="col-sm-7 col-md-8">
          <div class="row details-row-item">
            <div class="col-sm-5 col-md-3"><strong>Passed time</strong></div>
            <div class="col-sm-7 col-md-9">{{ transaction.expirationTime }}</div>
          </div>
          <div class="row details-row-item">
            <div class="col-sm-5 col-md-3"><strong>Actions</strong></div>
            <div class="col-sm-7 col-md-9">{{ transaction.actions ? transaction.actions.length : 0 }}</div>
          </div>
          <div class="row details-row-item">
            <div class="col-sm-5 col-md-3"><strong>Action fee</strong></div>
            <div class="col-sm-7 col-md-9">{{ transaction.actionFee }} CHX</div>
          </div>
        </div>
      </div>
      <!-- ACTIONS -->
      <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-12 actions-section">
          <!-- <app-table-card
            class="card-transparent"
            defaultExpand="false"
            expandable="true"
            title="Actions"
            [headers]="actionsConfig"
            [data]="transaction.actions ? transaction.actions : []"
          ></app-table-card> -->
        </div>
      </div>
    </div>
  </div>
</div>
