/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
* {
  font-family: "Averta Std";
  font-size: 14px;
}

body {
  background-color: #f4f4f4;
}

.clip-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  border: none;
  border-radius: 15px;

  // font-size: 11px;
  .card-header {
    &:last-child {
      border-radius: 15px;
    }

    margin-top: 10px;
    background-color: white;
    color: #1e1e1e;

    i {
      color: #fa591f;
      font-size: 25px;
    }
  }
}

.card-transparent {
  background-color: transparent !important;
  border: none;

  .card-header {
    background-color: transparent !important;
    border: none;
    border-bottom: 2px solid #999999;
  }
}
