<header>
  <nav class="navbar navbar-expand-lg">
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navbar-menu"
      class="collapse navbar-collapse float-xs-none"
      [ngbCollapse]="menuHidden"
    >
      <div class="col-sm-4 col-md-4">
        <a class="navbar-brand" href="#">Navbar</a>
      </div>
      <div class="col-sm-8 col-md-8">
        <div class="row align-items-center">
          <div class="col-sm-7 col-md-6 text-right border-right">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-right">
              <li class="nav-item active">
                <a
                  class="nav-item nav-link"
                  routerLink="/home"
                  routerLinkActive="active"
                >
                  <span translate>Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-item nav-link"
                  routerLink="/blocks"
                  routerLinkActive="active"
                >
                  <span translate>Blocks</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-item nav-link"
                  routerLink="/transactions"
                  routerLinkActive="active"
                >
                  <span translate>Transactions</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-5 col-md-6">
            <app-search-input></app-search-input>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
