@import "src/theme/theme-variables";

header .navbar {
  background-color: white;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.navbar {
  margin-bottom: $spacer;

  .nav-item {
    color: #373737;
    margin-right: 1em;
  }
  .nav-item.nav-link.active {
    border-bottom: 3px solid #eb6723;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
